<h1>All the Cats!</h1>

<ul>
    <% 20.times do |i| %>
    <li><%= ["this", "is", "cool"].join(", ") %></li>
    <% end %>
    
    <li>Cats would be listed here.</li>
    <li>This would be another cat</li>
</ul>