<h1>All the Cats!</h1>

<ul>
    <% @cats.each do |cat| %>
    <li>
        <a href="<%= cat_url(cat) %>">
            <%= cat.name %></a>
            <!-- app.cat_url
                 app.new_cat_url
                 app.cat_url()
                 Cat.first
                 /cats/:id-->
            <form action="<%= cat_url(cat) %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                
                <input type="submit" value="Destroy Cat!">
            </form>
        </li>
        
    <% end %>
</ul>